/* - Alto del Nav: 5rem.
- El Nav tiene un espaciado interno de 1rem en la izquierda y en la derecha, pero
tiene 0 arriba y abajo.
- Fuente utilizada: Raleway.
- Tamaño de la fuente utilizada: 20px.
- Espaciado interno de cada uno de los ítems del menú: 1rem.
- Espaciado externo de cada uno de los items del menú: 1rem.
- Color de fondo del item:hover: #7c7b7b.
- El tamaño del logo es: 100px de ancho x 100% de alto.
- El logotipo se encuentra adjunto.*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    /* se pone la altura del nav */
    /* Esto lo hablamos en clase, pero no lo esplicaste vos, no se si tu idea hera
    esta o aplicar otra forma que no conosco. */
}

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
}

.menu__nav {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #a6a6a6;
    height: 5rem;
    padding: 0 1rem;
    align-items: center;
    box-sizing: border-box;
}

.menu__nav__logo {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    background-size: contain;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
}

/* Boton hamburgesa */
.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.menu__nav__Items {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-left: auto;
}

.items a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.items:hover {
    background-color: #7c7b7b;
}

h1 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    margin: 0;
}

.main__whatsapp {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

.main__section {
    /* Imagen de fondo ocupando toda la pantalla */
    background-image: url("img/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

    /* Centrado total de los títulos */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

/* Estilos comunes para ambos títulos */
.main__section__title,
.main__section__subtitle {
    padding: 1rem;
    background-color: #b14421;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    font-family: 'Montserrat';
}

.main__section__title {
    font-size: 3rem;
    font-weight: 700;
}

.main__section__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
}

.main__section__servicios {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    padding: 1rem;
    gap: 1rem;
}

.main__section__servicios_title,
.main__section__nosotros_title {
    font-family: 'montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
    color: #b14421;
}

.contenedor-cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.section__card__servicios {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: #ffffff;
    padding-bottom: 1rem;
    align-items: center;
    width: 300px;
}

.section__card__servicios:hover {
    background-color: #F0F0F0;
}

.section__card__servicios__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.section__nosotros__img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.card__title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 1rem 0;
    margin: 0;
}

.card__description {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
}

.main__section__columnas {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.columna {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1.5rem;
}

.columnas__title {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.main__section__columnas__info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 400px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.boton_ver_mas {
    background-color: transparent;
    width: 200px;
    padding: 1rem;
    border: solid 2px black;
}

.boton_ver_mas:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px #ccc;
    color: #b14421;
    border-color: #b14421;
}

/*  ---- First Movile ------*/
@media (max-width: 768px) {

    .hamburger {
        display: block;
        margin-left: auto;
    }

    .menu__nav__Items {
        display: none;
        position: absolute;
        top: 5rem;
        right: 0;
        /* cambia direcion de menu de izquierda a derecha */
        background-color: #a6a6a6;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .menu__nav__Items.is-active {
        display: flex;
        width: 30%;
        margin-left: auto;
    }

    .items {
        width: 100%;
    }

    .items a {
        justify-content: center;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }
}